{% extends "emails/_base.html" %}
{% block title %}About your proposal{% endblock %}
{% block content %}
  <p>Hi {{ speaker_name }},</p>
  <p>
    Thank you for proposing <strong>{{ proposal_title }}</strong> for PyCon Nigeria
    {{ conference_year }}. We had far more good proposals than slots this year, and
    yours was not one we were able to fit into the programme.
  </p>
  <p>
    That is genuinely not a judgement on the work. We hope you will submit again next
    year, and we would love to see you at the conference either way.
  </p>
  <p>
    Our city meetups are always looking for speakers too, and they are a great place to
    give a talk a first outing.
  </p>
  <p>Thank you for taking the time,<br>PyCon Nigeria Team</p>
{% endblock %}
